.vs*
build
private
submodules/steamworks/*
!submodules/steamworks/public
!submodules/steamworks/redistributable_bin
submodules/steamworks/public/**/*.lib
submodules/steamworks/public/**/*.dll
submodules/steamworks/public/**/*.so
submodules/steamworks/public/**/*.dylib

# Local docker-compose data directory
/data
